::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}